.bulkUpload{
    padding: 0 10vw;
    font-size: 1.6rem;
    width: 60vw;
    margin:auto
}

.form-control{
    margin: 20px 0;
}

.bulkUpload-form{
    padding: 0 20px;
    border-radius: 10px;
    /* width: 40vw; */
    margin: auto;
}

.upload-error{
    color: red;
    margin-top: 5px;
    font-size: .82rem;
}

.upload-label{
    font-size: 1.1rem;
}