.question-box{
    display: flex;
    justify-content: center;
}
.poll-div{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.like-share{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.error-msg{
    font-size: 12px;
    margin-left: 0px;
    padding: 4px;
    color: red;
}
.upload{
    display: flex;
}