::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #a2dfff;
  border-radius: .65rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #63b8ec;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* 
html {
  font-size: 62.5%;
  box-sizing: border-box;
} */

.sidebar {
  text-align: left;
  display: grid;
  width: 20vw;
  transition: width 0.3s;
  color: #3c3d3e;
  background-color: #eee;
  box-shadow: 1px 0 3px #aaa;
}
.sidebar.small {
  width: 4.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s;
}
.sidebar__ul {
  display: grid;
  list-style-type: none;
  align-content: start;
  overflow-x: hidden;
}
.sidebar__ul--1 {
  margin: 0;
  padding:30px;
}
.sidebar__ul--2 {
  height: 92vh;
  overflow-y: scroll;
  padding-bottom: 2.5rem;
  margin: 0;
  transition: all 0.2s;
}
.sidebar__ul--2::-webkit-scrollbar {
  display: none;
}
.sidebar__ul--2:hover::-webkit-scrollbar {
  display: block;
}
.sidebar__ul--2 ::-webkit-scrollbar-track {
  border-radius: 0rem;
}
.sidebar__ul--li {
  display: grid;
  align-items: center;
  color: #4c4e6f;
  text-transform: capitalize;
  font-size: .625rem;
  height: 2.8rem;
}

.sidebar__ul--li-head {
  display: flex;
  align-items: left;
  justify-content: space-between;
  grid-template-columns: 3fr 1fr;
  height: 100%;
}
.sidebar__ul--li-head-span {
  display: grid;
  justify-self: end;
  margin-left: 100px;
}

.sidebar__ul--li-head-span.small {
  margin-left: 3px;
}
.sidebar__ul--li-head-arrow {
  cursor: pointer;
  height: 2.375rem;
  width: 3.75rem;
  display: grid;
  align-content: center;
  justify-content: center;
  transition: all 0.2s;
}
.sidebar__ul--li-head-arrow:hover {
  color: #63b8ec;
}
.sidebar__ul--li-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  justify-self: start;
  padding: 0.93rem 0;
  margin-top: 1.1rem;
  margin-bottom: 0;
  color: #63b8ec;
  cursor: pointer;
  user-select: none;
}
.sidebar__ul--li-title1 {
  font-size: .69rem;
  text-transform: uppercase;
  justify-self: start;
  padding: 0rem 1.56rem;
  margin-top: 0rem;
  margin-bottom: 0;
}
.sidebar__ul--li-nav {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1.56rem;
  color: #3c3d3e;
  text-decoration: none;
  font-size: 0.75rem;
  padding-right: 1.87rem;
  padding-left: 6px;
  transition: all 0.2s;
}

.sidebar__ul--li-nav-1 {
  padding: .93rem 1.56rem;
}
.sidebar__ul--li-nav-i {
  color: #d0edff;
}
.sidebar__ul--li-nav:hover .sidebar__ul--li-nav-i {
  color: #63b8ec;
}
.sidebar__ul--li-nav:hover {
  color: black;
  font-size: 0.75rem;
  transform: scale(1.05);
  text-decoration: none;
}
.sidebar__ul--li-nav-active {
  color: black;
  font-size: .81rem;
  position: relative;
}
.sidebar__ul--li-nav-active::after {
  content: "";
  height: 1.88rem;
  width: 5px;
  background-color: #63b8ec;
  position: absolute;
  top: 50;
  right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.sidebar__ul--li-nav-active .sidebar__ul--li-nav-i {
  color: #63b8ec;
}
.sidebar__ul--li-nav-img {
  width: 50px;
  height: auto;
}
