*{
    margin: 0;
    padding: 0;

}
.nav-main{
    position: sticky;
    top: 0;
    
}
.nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #FFB52E;
    
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 1rem .5rem;
    
}
.logo{
    font-size: 2rem;
}
