label svg{
    margin-top: 21px;
    margin-right: 10px;
}
.input-field{
    width: 250px;
}
.form-radio-div{
    padding-left: 15px;
}

.error{
    font-size: 12px;
    color: red;
    margin-left: 30px;
}
.main{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px gray;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    z-index: 10;
    background-color: white;
    width: 350px;
    /* height: 470px; */
    max-height: 550px;
    padding: 50px;
    overflow-y: scroll;
}
.heading{
    margin-left: 100px;
}
.form-card{
    margin-top: -20px;
}
.form-control{
    margin-left: 30px;
}

::-webkit-scrollbar{
    width: 0.7vw;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: skyblue;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
}
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .form-card{
    
    width: 400px;
    height: auto;
    
    padding: 0px 0px 50px 50px;
    background-color: lightgreen;
    
} */


.btn{
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}
.close-btn{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size:20px;
    color: #2196F3;
    transition: 300ms;
}
.close-btn:hover{
 color: red;
}
.mui-btn{
    width: 100%;
    height: 40px;
}
.google-btn{
    margin-left: 45px;
    margin-top: 10px;
}
.already{
    display: flex;
    margin-top: 10px;
}
.checkbox{
    margin-top: 10px;
    margin-left: 18px;
}
.mui-login-btn{
    width: 100%;
    margin-top: 20px;
}
.login-div{
    margin-top: 30px;
    width: 293px;
    margin-left: 25px;
}
.modal-btn{
    width: 293px;
    margin-left: 25px;
}